@import ../css/normalize-min
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800|Roboto:400,700')

*
    box-sizing: border-box

body
    font-family: 'Roboto', sans-serif
    font-size: 18px

a
    color: inherit
    text-decoration: none

ul
    list-style-type: none
    padding: 0

h1, h2
    font-family: 'Open Sans', sans-seriff
    font-weight: 800
    font-size: 3em

p
    line-height: 1.4
a
    transition-duration: .7s

@media screen and (max-width: 800px)
    body
        font-size: 16px
    h2
        font-size: 2em

header
    width: 100%
    height: auto
    padding: 0 2em
    position: absolute
    color: white
    z-index: 2

    h1
        opacity: 0.6

#slider
    width: 100%
    height: 80vh
    min-height: 600px
    overflow: hidden

    .slides
        height: 100%
        width: fit-content
        display: flex
        flex-direction: row
        
        #slide
            width: 100vw
            height: 100%
            display: flex
            position: relative
            justify-content: flex-end
            align-items: center
            background-color: lightgrey
            background-image: url(https://source.unsplash.com/random/1450x850)
            background-size: cover
            z-index: 1
            &:before
                z-index: -1
                content: ''
                position: absolute
                top: 0
                width: 100%
                height: 100%
                background-color: darkslategrey
                opacity: 0.5
                z-index: 1

            .content
                z-index: 1
                width: 475px
                height: 100%
                text-align: right
                color: white
                display: flex
                flex-direction: column
                justify-content: center
                align-items: flex-end
                padding: 4em
                opacity: 0.8

                h2
                    font-size: 5em
                    text-transform: uppercase
                    margin: 0

                a
                    text-transform: uppercase
                    font-weight: 700
                    border: solid 1px white
                    border-radius: 2px
                    padding: 0.5em

                    &:hover
                        background-color: white
                        color: black

                .slide-counter
                    opacity: .5
                    font-size: 4em
                    font-family: 'Open Sans', sans-seriff
                    font-weight: 900
                    position: absolute
                    bottom: .5em
                    right: 1em

                    &:after
                        content: '/03'
                        font-size: .3em
                        position: absolute
                        top: .5em

            @media screen and (max-width: 500px)
                .content
                    h2
                        font-size: 3em


.exploration-content
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 100%
    overflow: visible

    nav
        width: 350px
        order: -1
        display: flex
        justify-content: center
        align-items: center

        ul li
            margin: 1em
            font-weight: normal

            a
                opacity: 0.2

                &:hover
                    opacity: 0.7
            
                &.active
                    opacity: 1
                    position: relative

                    &:before
                        content: ''
                        width: 100vw
                        height: 3px
                        background-color: black
                        position: absolute
                        right: 110%
                        top: 4px
                        transform: translateY(5px)
                    
    .content
        width: 50%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        padding: 5em 0 0 0

        h2
            margin: .25em 0

        h3
            font-weight: bold
        
        p
            opacity: 0.6
    aside
        width: 400px
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-items: center
        position: relative

        .rectangle
            background-color: #eee
            width: 200px
            height: 100%
            vertical-align: text-bottom
            position: relative
            

            span
                font-size: 3em
                font-weight: 800
                font-family: 'Open Sans', sans-seriff
                position: absolute
                width: 100%
                left: -10px
                text-align: center
                bottom: .3em

                &:after
                    content: "NASA"
                    color: #EEE
                    font-size: 1em
                    font-weight: inherit
                    font-family: inherit
                    position: absolute
                    width: 100%
                    top: .9em
                    left: .3em
                    text-align: center

        .text
            width: 200px
            font-size: .5em
            margin: 3em 0 0 0

    @media screen and (max-width: 850px)
        display: grid
        grid-template-rows: auto auto
        grid-template-columns: 100%

        nav
            width: 100%
            height: 150px
            padding: 1em
            justify-content: flex-end
            grid-row: 1 / span 1
            grid-column: 1 / span 1
            padding-right: 2em
        .content
            width: 100%
            padding: 3em
            grid-row: 2 / span 1
            grid-column: 1 / span 1
        aside
            width: 100%
            grid-row: 1 / span 1
            grid-column: 1 / span 1
            z-index: -1
            align-items: flex-start
            padding-left: 2em
            
            .rectangle
                height: 225px

.aeronautics
    width: 100%
    margin: 5em 0 10em
    display: grid
    grid-template-columns: 1fr 2fr 1fr

    .image
        width: 100%
        height: 100%
        background-image: url(https://source.unsplash.com/random/1100x700)
        background-size: cover
        grid-column: 1 / span 2
        grid-row: 1 / span 1
        z-index: -1
        position: relative

        &:before
            z-index: -1
            content: ''
            position: absolute
            top: 0
            width: 100%
            height: 100%
            background-color: darkslategrey
            opacity: 0.5
            z-index: 1
    
    .content
        background-color: #171819
        color: white
        display: flex
        max-width: 50%
        min-width: 550px
        margin: 5em 0 5em 5em
        padding: 5em
        justify-self: end
        flex-direction: column
        grid-column: 2 / span 2
        grid-row: 1 / span 1
        box-shadow: 0 1em 3em rgba(0,0,0,0.2)

        h2
            position: relative

            &:before
                content: '01'
                opacity: 0.1
                position: absolute
                font-size: 2em
                top: -1em
                left: -.5em
                font-weight: inherit

        hr
            width: 15%
            margin: 0px
            border: darkslategrey 1px solid

        p
            opacity: 0.3
            margin: 2em 0
            
        a
            width: 10em
            text-align: center
            text-transform: uppercase
            font-weight: 700
            border: solid 1px white
            border-radius: 2px
            padding: 0.5em
            &:hover
                background-color: white
                color: black

    @media screen and (max-width: 850px)
        grid-template-columns: 1fr 2fr 10%
        .content
            margin: 5em 0 5em 2em
            padding: 3.5em
            max-width: 550px
            min-width: 0
            grid-column: 1 / span 3
        
        .image
            grid-column: 1 / span 2

.mars-today
    width: 100%
    margin: 10em 0
    display: grid
    grid-template-columns: 1fr 2fr 1fr

    .image
        width: 100%
        height: 100%
        background-image: url(https://source.unsplash.com/random/1100x600)
        background-size: cover
        grid-column: 2 / span 2
        grid-row: 1 / span 1
        z-index: -1
        position: relative

        &:before
            z-index: -1
            content: ''
            position: absolute
            top: 0
            width: 100%
            height: 100%
            background-color: darkslategrey
            opacity: 0.5
            z-index: 1
    
    .content
        background-color: #F8F9FA
        color: black
        display: flex
        max-width: 50%
        min-width: 550px
        margin: 5em 0 -5em 5em
        padding: 5em
        flex-direction: column
        grid-column: 1 / span 2
        grid-row: 1 / span 1
        box-shadow: 0 1em 3em rgba(0,0,0,0.2)

        h2
            position: relative

            &:before
                content: '02'
                opacity: 0.1
                position: absolute
                font-size: 2em
                top: -1em
                left: -.5em
                font-weight: inherit

        hr
            width: 15%
            margin: 0px
            border: darkslategrey 1px solid

        p
            opacity: 0.3
            margin: 2em 0
            
        a
            width: 10em
            text-align: center
            text-transform: uppercase
            font-weight: 700
            border: solid 1px black
            border-radius: 2px
            padding: 0.5em
            &:hover
                background-color: black
                color: white

    @media screen and (max-width: 850px)
        grid-template-columns: 10% 2fr 1fr
        .content
            margin: 5em 2em -5em 0em
            padding: 3.5em
            max-width: 550px
            min-width: 0
            grid-column: 1 / span 3
        
        .image
            grid-column: 2 / span 2

.solar-system
    max-width: 100%
    display: grid
    margin-top: 15em
    padding-left: 5em
    grid-template-columns: 2fr 2fr
    grid-template-rows: auto 3fr
    position: relative

    .image
        width: 100%
        height: 40vw
        min-height: 350px
        background-image: url(https://source.unsplash.com/random/1400x600)
        background-size: cover
        grid-column: 1 / span 2
        grid-row: 2 / span 1
        position: relative
        z-index: -1
        box-shadow: 0 1em 3em rgba(0,0,0,0.2)


        &:before
            z-index: -1
            content: ''
            position: absolute
            top: 0
            width: 100%
            height: 100%
            background-color: darkslategrey
            opacity: 0.5
            z-index: 1
    
    .content-out
        color: white
        display: flex
        width: 100%
        padding: 0 5em 1em 0
        flex-direction: column
        grid-column: 2 / span 1
        grid-row: 1 / span 1

        h2
            color: black
            position: relative

            &:before
                content: '03'
                opacity: 0.1
                position: absolute
                font-size: 2em
                top: -1em
                left: -.5em
                font-weight: inherit

        hr
            width: 15%
            margin: 0px
            border: darkslategrey 1px solid

    .content-in
        grid-column: 2 / span 1
        grid-row: 2 / span 1
        color: white
        padding: 1em 5em 0 0

        p
            opacity: 0.7
            margin: 0 0 2em
            
        a
            width: 10em
            text-align: center
            text-transform: uppercase
            font-weight: 700
            border: solid 1px white
            border-radius: 2px
            padding: 0.5em 2em
            &:hover
                background-color: white
                color: black
    &:after
        content: ''
        width: 100%
        height: 50%
        position: absolute
        background-color: #171819
        top: 50%
        z-index: -2


    @media screen and (max-width: 850px)
        padding-left: 2em

        .content-out
            min-width: 0
            width: 75%
            justify-self: end
            padding: 0 2em 1em 0
            grid-column: 1 / span 2
        .content-in
            width: 75%
            justify-self: end
            padding: 1em 2em 0 0
            grid-column: 1 / span 2
            
footer
    width: 100%
    color: white
    background-color: #171819
    display: flex
    justify-content: center
    padding: .5em
    
    nav
        width: 50%
        min-width: 300px
        max-width: 800px

        ul
            width: 100%
            display: flex
            flex-direction: row
            justify-content: space-between

            a
                opacity: 0.3
                &:hover
                    opacity: 0.9
